* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

.grid-container {
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 20% 40% 40%;
    justify-content: space-evenly;
}

#sidebar-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    /* grid-area: 1 / 1 / 3 / 2; */
}

#search-wrapper {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    /* grid-area: 1 / 2 / 2 / 4; */
}

#content-wrapper {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    /* grid-area: 2 / 2 / 3 / 3; */
}

.search-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-query {
    width: 90%;
    min-width: 300px;
    /* max-width: 600px; */
    line-height: 1.2em;
    padding: 5px;
    border-radius: 5px;
}

.search-btn {
    position: absolute;
    left: 82%;
    top: 5px;
    /* bottom: 90%; */
    /* padding: 5px; */
    border: none;
    border-radius: 5px;
    line-height: 1.2em;
    background-color: white;
}

.fa-caret-right {
    margin-right: 5px;
}

.fa-folder {
    color: rgb(19, 176, 248);
}

.node-icon {
    font-size: 1.5em;
    padding: .25em;
    margin: 0 .1em;
    position: relative;
}

.bookmark-node {
    width: 100%;
    /* padding: 0.67em; */
    padding: 0.25em;
    margin: .25em 0;
    cursor: pointer;
    font-size: 1.2em;
    border: 1px solid #aaa;
    background-color: #e7e7e7;
}

.bookmark-node-folder {
    background-color: #222;
    /* background-color: rgb(223, 122, 63); */
    color: #fff;
}

.bookmark-node-count--badge {
    color: #fff;
    padding: .15em;
    font-size: .5em;
    position: absolute;
    transform: translate(-120%, 40%);
    /* transform: translate(-50%, -50%); */
    /* bottom: 8px;
    right: 15px; */
    /* bottom: 2px;
    right: 5px; */
    border-radius: 50%;
    /* background-color: #b22222; */
    /* background-color: #774399; */
    /* color: #436343; */
}

.breadcrumb {
    margin: 0 .1em;
    padding: .25em;
}

#breadcrumbs {
    margin-bottom: 1em;
}

#bookmark-node-list {
    width: 90%;
    padding: 0;
    margin: 0 auto 0 0;
    background-color: #eee;
    list-style-type: none;
}

#back-btn {
    display: none;
    margin-bottom: 1em;
}

#progress-bar-wrapper {
    display: none;
    /* visibility: hidden; */
    width: 200px;
    height: 20px;
    background-color: #ccc;
}

#progress-bar {
    display: block;
    width: 0px;
    height: 20px;
    background-color: rgb(19, 176, 248);
}